<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="DiemDanhSinhVien.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <userSettings>
        <DiemDanhSinhVien.Properties.Settings>
            <setting name="LTWNCConn" serializeAs="String">
                <value>Data Source=WTFBEE-PC\SQLEXSERVER;Initial Catalog=qldiemdanhsv;User ID=sa;Password=sa2012</value>
            </setting>
        </DiemDanhSinhVien.Properties.Settings>
    </userSettings>
</configuration>
